*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{font-family: 'Fredoka One', cursive; ;
	font-size: 30px;
	color: #e4326f;
	
}

.container{
	width: 70%;
	margin: auto;
	
}

.title{
 text-align: center;
 margin-top: 100px;
 margin-bottom: 40px;

}

.txt{
margin-top: 40px;
}


